# =========================
# Server Configuration
# =========================
PORT=3000
NODE_ENV=production

# =========================
# Security
# =========================
JWT_SECRET=Abhishek@EmailStudio2026#Secure!987654

# =========================
# Frontend URL
# =========================
APP_URL=https://email-studio-er3rp91s3-bhbhbhbhubs-projects.vercel.app

# =========================
# Google OAuth
# =========================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# =========================
# Microsoft OAuth
# =========================
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT=common